<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add name="mdb"
         connectionString="Server=localhost;Database=metrix;Uid=root;Pwd=;"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  
  <system.serviceModel>
    <services>
      <service name="MetrixDistributed.MetrixDistributedService" behaviorConfiguration="mexBehaviour">
        <endpoint address="MetrixDistributedService" binding="basicHttpBinding" contract="MetrixDistributed.IMetrixDistributedService">
        </endpoint>
        <endpoint address="CustomerService" binding="basicHttpBinding" contract="MetrixDistributed.ICustomerServices">
        </endpoint>
        <endpoint address="EmployeeServices" binding="basicHttpBinding" contract="MetrixDistributed.IEmployeeServices">
        </endpoint>
        <endpoint address="ProductServices" binding="basicHttpBinding" contract="MetrixDistributed.IProductServices">
        </endpoint>
        <endpoint address="SupplierServices" binding="basicHttpBinding" contract="MetrixDistributed.ISupplierServices">
        </endpoint>
        
          
            
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
          </baseAddresses>
        </host>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>